a.result {
    text-align: initial;
    color: rgb(0, 75, 145);
  }
  
  .image_content img.poster {
    border: 1px solid #fff
  }
  
  .imdb_r {
      float: left;
      width: 100%;
      margin: 15px
   0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
  }
  
  .imdb_r
   .a {
      float: left;
      width: 45px;
      position: absolute;
  }
  
  .imdb_r
   .b {
      float: left;
      width: calc(100% - 60px);
      margin-left: 53px;
      margin-top: 3px;
  }
  
  .imdb_r .b
   .bar {
      margin-bottom: 7px;
      overflow: hidden;
      width: 130px;
      font-size: 0;
      height: 13px;
      background: url(/images/star-rating-sprite.png) 0 0;
  }
  
  .imdb_r .b .bar
   span {
      float: left;
      display: block;
      height: 13px;
      background: url(/images/star-rating-sprite.png) 0 -13px;
  }
  
  .imdb_r .b
   span.dato {
      font-size: 12px;
      color: #999;
  }
  
  .imdb_r .a
   span {
      background-color: #6ac045;
      border-radius: 3px 3px 3px 3px;
      color: #FFF;
      font-size: 24px;
      font-weight: bold;
      height: 39px;
      line-height: 40px;
      text-align: center;
      width: 45px;
      display: inline-block;
      vertical-align: top;
  }
  
  .poster {
      border: #989898 2px solid;
      padding: 3px;
  }  
  
  