body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  background: #000;
  background-image: url(http://www.transparenttextures.com/patterns/dark-wood.png);
}

.figure {
  /*height:275px; 
  width: 210px;*/
  border: 5px solid;
}

.movie-bottom {
  /*padding-left: 30px;*/
  margin-top: 10px;
}

/* mouse over link */
.browse-movie-link:hover {
    color: #6ac045;
}

.movie-col {
  text-align: center;
  margin-bottom: 20px;
}

.browse-movie-link{
  display:inline-block;
  max-width:220px;
  transition:border .15s ease-in-out;
  -moz-transition:border .15s ease-in-out;
  -webkit-transition:border .15s ease-in-out;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  font-size:24px;
  color: white;
}

figure{
  overflow:hidden;
  position:relative;
  width:100%;
  margin:0
}

figure img{
  width:100%;
  transition:opacity .15s ease-in-out;
  -moz-transition:opacity .15s ease-in-out;
  -webkit-transition:opacity .15s ease-in-out
}

figcaption{
  color:white;
  height:100%;
  left:0;
  opacity:0;
  position:absolute;
  right:0;
  top:0;
  z-index:2;
  width:100%;
  -webkit-transition:all 300ms;
  -moz-transition:all 300ms;
  transition:all 300ms;
  -webkit-transition-delay:100ms;
  -moz-transition-delay:100ms;
  transition-delay:100ms;
  background-color:rgba(0,0,0,.75);
  padding-top:20px
}

figure figcaption .rating {
    font-size: 25px;
    position: relative;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

figure figcaption .genre {
  color: #fff;
  font-size: 12px;
}

.button-green-download-big {
    background: #6ac045;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: block;
    font-weight: bold;
    color: #fff;
    top: 35px;
    font-size: 16px;
    position: relative;
    width: 130px;
    padding: 7px 0;
    margin: 0 auto;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.browse-movie-link:hover figcaption { 
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 1;
}

.movie-year{
  color: #fff;
}

.browse-movie-title {
  color: white;
}

.navbar {
  background-color: #F5F5F5 !important;
}